/* Font - Raleway 400, 700 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
  /* primary colors */
  --gradient: linear-gradient(hsl(6, 100%, 80%) to hsl(335, 100%, 65%));

  /* neutral colors */
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

/* css reset */
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: url("./../images/bg-desktop.png") no-repeat;
  background-size: 100vw 50vh;
  background-color: var(--very-dark-blue);
  background-position-y: bottom;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 100vh;
  width: 100vw;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 95vh;
  margin: 0 auto;
  max-width: 1440px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 25vh;
  margin: 0 auto;
  width: 1200px;
}

.left-container {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--dark-blue);
  border-radius: 20px 100px 20px 20px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  padding-left: 40px;
  width: 400px;
}

.icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.icons-item {
  align-items: center;
  background-color: var(--very-dark-blue);
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-right: 10px;
  width: 50px;
}

.right-container {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--dark-blue);
  border-radius: 20px;
  color: var(--pale-blue);
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: center;
  padding: 0 40px 0 40px;
  position: relative;
  width: 750px;
}

#file {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: 2px solid black;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--very-dark-blue);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  width: 650px;
}

progress[value]::-webkit-progress-value {
  background-image: radial-gradient(circle at calc(100% - 10px) center, var(--pale-blue) 8px, hsl(6, 100%, 80%) 10px, hsl(335, 100%, 65%) 150px);
  border-radius: 10px;
}

.used-storage {
  font-weight: 400;
  margin-bottom: 10px;
}

.storage {
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}

.storage-left {
  background-color: var(--pale-blue);
  border-radius: 10px 10px 0 10px;
  color: var(--very-dark-blue);
  font-size: 3rem;
  font-weight: 700;
  padding: 10px 20px;
  position: absolute;
  right: 40px;
  top: -50px;
  width: 225px;
}

.storage-left:after {
	content: '';
	bottom: 0;
	border: 20px solid transparent;
	border-bottom: 0;
	border-right: 0;
	border-top-color:var(--pale-blue);
	height: 0;
	margin-left: -33px;
	margin-bottom: -20px;
	position: absolute;
	right: 0;
  width: 0;
}

.storage-left span {
  color: var(--grayish-blue);
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}


footer {
  bottom: 0;
  color: var(--pale-blue);
  position: relative;
  text-align: center;
}

footer a {
  color: hsl(228, 79%, 63%);
}

@media (max-width: 1300px) {
  .container {
    width: 1000px;
  }
  .right-container {
    width: 500px;
  }
  progress[value]::-webkit-progress-bar {
    width: 450px;
  }
  .storage-left:after {
    margin-bottom: -18px;
  }
}

@media (max-width: 1050px) {
  .container {
    align-items: flex-start;
    flex-wrap: wrap;
    height: 40vh;
    justify-content: center;
    width: 1000px;
  }
  .left-container {
    min-width: 450px;
  }
  .right-container {
    min-width: 750px;
  }
  progress[value]::-webkit-progress-bar {
    width: 650px;
  }
  .storage-left {
    border-radius: 10px;
    right: 33%;
    top: 120px;
  }
  .storage-left::after {
    visibility: hidden;
  }
}

@media (max-width: 790px) {
  .container {
    height: 60vh;
    width: 700px;
    padding-bottom: 150px;
  }
  .left-container {
    min-width: 450px;
  }
  .right-container {
    min-width: 450px;
  }
  progress[value]::-webkit-progress-bar {
    width: 400px;
  }
  .storage-left {
    right: 25%;
  }
}

@media (max-width: 530px) {
  .container {
    width: 375px;
    padding-bottom: 150px;
  }
  .left-container {
    min-width: 350px;
  }
  .right-container {
    min-width: 350px;
  }
  progress[value]::-webkit-progress-bar {
    width: 270px;
  }
  .storage-left {
    right: 25%;
    width: 200px;
  }
}

@media (max-width: 380px) {
  .container {
    width: 325px;
    padding-bottom: 150px;
  }
  .left-container {
    min-width: 250px;
  }
  .right-container {
    min-width: 250px;
  }
  progress[value]::-webkit-progress-bar {
    width: 150px;
  }
  .storage-left {
    font-size: 2rem;
    top: 130px;
    width: 180px;
  }
}